<HTML>
<HEAD>
    <TITLE>录入年度合并各部门销售清单(${year}年)</TITLE>
    <script language="javascript" src="/js/jquery-1.6.1.min.js"></script>
    <script language="javascript">
        var j = jQuery.noConflict();

        function gotoNextYear() {
            var currYear = ${year};
            currYear++;
            document.location.href = "Index.showInputGrid4Year?year=" + currYear;
        }

        function gotoPrevYear() {
            var currYear = ${year};
            currYear--;
            document.location.href = "Index.showInputGrid4Year?year=" + currYear;
        }

        function gotoCurrYear() {
            document.location.href = "Index.showInputGrid4Year";
        }

        function gotoYear() {
            document.location.href = "Index.showInputGrid4Year?year=" + j('#syear')[0].value;
        }

        j(document).ready(sum);

        function sum() {
            var totalSum = 0;
            j('input.colsum').each(function(index, obj) {
                var colIndex = obj.attributes['countcol'].value;
                var val = 0;
                j('input[colid=' + colIndex + ']').each(function(index2, obj2) {
                    if (obj2.value != '' && obj2.value != null && obj2.value != 'undefined' && obj2.value.length != 0) {
                        val += parseInt(obj2.value);
                    }
                })
                if (val != 0) {
                    obj.value = val;
                    totalSum += val;
                } else {
                    obj.value = '';
                }
            });

            j('input.rowsum').each(function(index, obj) {
                var colIndex = obj.attributes['countrow'].value;
                var val = 0;
                j('input[rowid=' + colIndex + ']').each(function(index2, obj2) {
                    if (obj2.value != '' && obj2.value != null && obj2.value != 'undefined' && obj2.value.length != 0) {
                        val += parseInt(obj2.value);
                    }
                })
                if (val != 0) {
                    obj.value = val;
                } else {
                    obj.value = '';
                }
            });
            //var a = j('#totalSum');
            if (totalSum != 0) {
                j('#totalSum')[0].value = totalSum;
            } else {
                j('#totalSum')[0].value = '';
            }
        }
    </script>
    <style>
        .input {
            width: 70px
        }

        div#DivContainer {
            overflow: scroll;
            border: solid 1px gray;
            text-align: center;
        }

        table {
            border-collapse: collapse;
        }

        th {
            position: relative;
            padding: 5px;
            border-top: solid 0px gray;
            border-bottom: solid 1px gray;
            border-left: solid 0px gray;
            border-right: solid 1px gray;
        }

        td {
            position: relative;
            padding: 5px;
            border-top: solid 0px gray;
            border-bottom: solid 1px gray;
            border-left: solid 0px gray;
            border-right: solid 1px gray;
        }

        td.Locked {
            /* 水平与垂直方向锁住单元格, 不随鼠标或滚动条移动 */
            z-index: 30;
            position: relative;
            top: expression(parentNode.parentNode.parentNode.parentNode.scrollTop);
            left: expression(parentNode.parentNode.parentNode.parentNode.scrollLeft);
            background-color: #cccccc;
            text-align: center;
            border-top: solid 0px gray;
            border-bottom: solid 1px gray;
            border-left: solid 0px gray;
            border-right: solid 1px gray;
        }

        td.HLocked {
            /* 水平方向锁住单元格 */
            z-index: 10;
            position: relative;
            left: expression(parentNode.parentNode.parentNode.parentNode.scrollLeft);
            background-color: #cccccc;
            text-align: center;
            border-top: solid 0px gray;
            border-bottom: solid 1px gray;
            border-left: solid 0px gray;
            border-right: solid 1px gray;
        }

        td.VLocked {
            /* 垂直方向锁住单元格 */
            z-index: 20;
            position: relative;
            top: expression(parentNode.parentNode.parentNode.parentNode.scrollTop);
            background-color: #cccccc;
            text-align: center;
            border-top: solid 0px gray;
            border-bottom: solid 1px gray;
            border-left: solid 0px gray;
            border-right: solid 1px gray;
        }

        th.Locked {
            /* 水平与垂直方向锁住单元格, 不随鼠标或滚动条移动 */
            z-index: 30;
            position: relative;
            top: expression(parentNode.parentNode.parentNode.parentNode.scrollTop);
            left: expression(parentNode.parentNode.parentNode.parentNode.scrollLeft);
            background-color: #cccccc;
            text-align: center;
            border-top: solid 0px gray;
            border-bottom: solid 1px gray;
            border-left: solid 0px gray;
            border-right: solid 1px gray;
        }

        th.HLocked {
            /* 水平方向锁住单元格 */
            z-index: 10;
            position: relative;
            left: expression(parentNode.parentNode.parentNode.parentNode.scrollLeft);
            background-color: #cccccc;
            text-align: center;
            border-top: solid 0px gray;
            border-bottom: solid 1px gray;
            border-left: solid 0px gray;
            border-right: solid 1px gray;
        }
    </style>
</HEAD>

<BODY BGCOLOR="white">
<div style="text-align:left;valign:middle;font-size:26px"><p><b>录入年度合并各部门销售清单(${year}年)</b></p></div>
<br><br>

<div style="text-align:left;valign:middle;"><input type="button" value="上年" onclick="gotoPrevYear()">&nbsp;&nbsp;&nbsp;<input
        type="button" value="本年" onclick="gotoCurrYear()">&nbsp;&nbsp;&nbsp;<input type="button" value="下年"
                                                                                   onclick="gotoNextYear()">&nbsp;&nbsp;&nbsp;<select
        id='syear'>
    #foreach($y in [2011..2012])
        <option value='$y'
            #if($year == $y)
                selected
            #end
                >$y</option>
    #end
</select>年<input type="button" value="跳转" onclick="gotoYear()">&nbsp;&nbsp;&nbsp;<a href='Index.showInputGrid'>查看月度</a>
</div>
</div>
<div style="overflow: auto;width:1000px;height:600px;" id="DivContainer">
    <table border=1>
        <tr>
            <td class="Locked">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td class="Locked">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td class="Locked">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            #foreach (${aad} in ${aads})
                <td class="VLocked">${aad.areaName}</td>
            #end

        </tr>
        <tr>
            <td class="Locked">岗位及职务</td>
            <td class="Locked">姓名</td>
            <td class="Locked">合计</td>
            #foreach (${aad} in ${aads})
                <td class="VLocked">${aad.drinkName}</td>
            #end
        </tr>
        <tr>
            <td class="Locked">&nbsp;</td>
            <td class="Locked">合计</td>
            <td class="Locked"><input class="input" type='text' id='totalSum' value='' readonly></td>
            #foreach (${aad} in ${aads})
                <td class="VLocked"><input class="input colsum" type='text' countcol='${aad.id}' value='' readonly></td>
            #end
        </tr>
        #foreach (${gau} in ${gaus})
            #set($userid=${gau.id})
            <tr>
                <td class="HLocked">${gau.groupName}</td>
                <td class="HLocked">${gau.userName}</td>
                <td class="HLocked"><input class="input rowsum" type='text' countrow='${gau.id}' value='' readonly></td>
                #foreach (${aad} in ${aads})
                    #set($drinkid=${aad.id})
                    <td><input class="input" type='text' id='${gau.id}_${aad.id}' rowid='${gau.id}' colid='${aad.id}'
                               value='$!urdMap.get("$userid").get("$drinkid")'
                               onblur="javascript:changeDD(this);sum();"></td>
                #end
            </tr>
        #end
    </table>
</div>
</BODY>

</HTML>