<br>
<div style="text-align:center;valign:middle;font-size:12px"><a href="/setting/Index.settingGroupAndUser">部门人员管理</a>&nbsp;&nbsp;&nbsp;<a
        href="/setting/Index2.settingAreaAndDrink">区域酒类管理</a></div>