<HTML>
<HEAD>
    <TITLE>区域酒类设置</TITLE>
    <script language="javascript" src="/js/jquery-1.6.1.min.js"></script>
    <script language="javascript">

        var j = jQuery.noConflict();

        function add() {
            var inputAreaId = document.getElementById("inputAreaId").value;
            var inputAreaName = document.getElementById("inputAreaName").value;
            var inputDrinkName = document.getElementById("inputDrinkName").value;
            //document.location.href="Index.add?inputGroupId="+inputGroupId+"&inputGroupName="+inputGroupName+"&inputUserName="+inputUserName;
            j.post('Index2.add', {
                        inputAreaId: inputAreaId,
                        inputAreaName: inputAreaName,
                        inputDrinkName:inputDrinkName
                    }, function(data) {
                //alert(data);
                if (data == "1") {
                    window.location.reload()
                } else {
                    alert("数据错误！");
                }
            });

        }

        function del(id) {
            //document.location.href="Index2.del?id="+id;
            j.post('Index2.del', {
                        id: id
                    }, function(data) {
                //alert(data);
                if (data == "1") {
                    window.location.reload()
                } else {
                    alert("数据错误！");
                }
            });
        }
    </script>
</HEAD>

<BODY BGCOLOR="white">
<div style="text-align:center;valign:middle;font-size:26px"><p><b>区域酒类设置</b></p></div>
<br><br>

<div style="text-align:center;valign:middle;">
    <table border=1>
        <tr>
            <td>序号</td>
            <td>区域号</td>
            <td>区域名称</td>
            <td>酒名</td>
            <td>操作</td>
        </tr>
        <tr>
            <td></td>
            <td><input type="text" id="inputAreaId"></td>
            <td><input type="text" id="inputAreaName"></td>
            <td><input type="text" id="inputDrinkName"></td>
            <td><input type="button" id="add" value="添加" onclick="javascript:add();"></td>
        </tr>
        #foreach (${aad} in ${aads})
            <tr>
                <td>${aad.id}</td>
                <td>${aad.areaId}</td>
                <td>${aad.areaName}</td>
                <td>${aad.drinkName}</td>
                <td><input type="button" id="add" value="删除" onclick="javascript:del('${aad.id}');"></td>
            </tr>
        #end
    </table>
</div>
</BODY>

</HTML>