<div style="text-align:center;valign:middle;font-size:16px"><a href="/type1/Index.showInputGrid">月度合并各部门销售清单</a>&nbsp;&nbsp;&nbsp;<a
        href="/type2/Index.showInputGrid">月度葡萄酒中心月绩效考核</a>&nbsp;&nbsp;&nbsp;<a href="/type3/Index.showInputGrid">月度员工葡萄酒指标完成情况汇总</a>
</div>