<HTML>
<HEAD>
<TITLE>月度葡萄酒中心月绩效考核(${year}年${month}月)</TITLE>
<script language="javascript" src="/js/jquery-1.6.1.min.js"></script>
<script language="javascript">
var j = jQuery.noConflict();

function gotoNextMonth () {
	var currYear = ${year};
	var currMonth = ${};
	if(currMonth==12){
		currYear++;
		currMonth=1;
	}else{
		currMonth++;
	}
	document.location.href="Index.showInputGrid?month="+currMonth+"&year="+currYear;
}

function gotoPrevMonth () {
	var currYear = ${year};
	var currMonth = ${month};
	if(currMonth==1){
		currYear--;
		currMonth=12;
	}else{
		currMonth--;
	}
	document.location.href="Index.showInputGrid?month="+currMonth+"&year="+currYear;
}

function gotoCurrMonth () {
	document.location.href="Index.showInputGrid";
}

function gotoMonth () {
	document.location.href="Index.showInputGrid?month="+j('#smonth')[0].value+"&year="+j('#syear')[0].value;
}

</script>
<style>
.input{
	width:60px
}
</style>
</HEAD>

<BODY BGCOLOR="white">
<div style="text-align:center;valign:middle;font-size:26px"><p><b>月度葡萄酒中心月绩效考核(${year}年${month}月)</b></p></div>
<br><br>
<div style="text-align:center;valign:middle;"><input type="button" value="上月" onclick="gotoPrevMonth()">&nbsp;&nbsp;&nbsp;<input type="button" value="本月" onclick="gotoCurrMonth()">&nbsp;&nbsp;&nbsp;<input type="button" value="下月" onclick="gotoNextMonth()">&nbsp;&nbsp;&nbsp;<select id='syear'>
#foreach($y in [2011..2012])
<option value='$y'
#if($year == $y)
selected
#end
>$y</option>
#end
</select>年<select id='smonth'>
#foreach($i in[1..12])
<option value='$i'
#if($month == $i)
selected
#end
>$i</option>
#end
</select>月<input type="button" value="跳转" onclick="gotoMonth()">&nbsp;&nbsp;&nbsp;<a href='Index.showInputGrid4Year'>查看年度</a></div>
<div style="text-align:center;valign:middle;">
<table border=1>
<tr>
<td></td><td></td><td></td><td></td><td></td>
</tr>
#foreach (${gau} in ${gaus})
#set($userid=${gau.id})
<tr>
<td>
#if(${gau.groupType}==1)
后勤管理人员
#else
#if(${gau.groupType}==2)
业务员
#else
门店人员
#end
#end
</td><td>${gau.userName}</td>

<td><input class="input"></td>

</tr>
#end
</table>
</div>
<div style="text-align:center;valign:middle;">
导出  ---->   <a href='Index.exportExcel'>导出本月</a>&nbsp;&nbsp;&nbsp;<a href='Index.exportExcel4Currency'>导出1-本月</a></div>
</div>
</BODY>

</HTML>