<HTML>
<HEAD>
<TITLE>葡萄酒中心月度绩效考核(${year}年${month}月)</TITLE>
<script language="javascript" src="/js/jquery-1.6.1.min.js"></script>
<script language="javascript">
var j = jQuery.noConflict();

function gotoNextMonth () {
	var currYear = ${year};
	var currMonth = ${month};
	if(currMonth==12){
		currYear++;
		currMonth=1;
	}else{
		currMonth++;
	}
	document.location.href="Index.showInputGrid?month="+currMonth+"&year="+currYear;
}

function gotoPrevMonth () {
	var currYear = ${year};
	var currMonth = ${month};
	if(currMonth==1){
		currYear--;
		currMonth=12;
	}else{
		currMonth--;
	}
	document.location.href="Index.showInputGrid?month="+currMonth+"&year="+currYear;
}

function gotoCurrMonth () {
	document.location.href="Index.showInputGrid";
}

function gotoMonth () {
	document.location.href="Index.showInputGrid?month="+j('#smonth')[0].value+"&year="+j('#syear')[0].value;
}

function saveRow(){
    var id=
}
</script>
<style>
.input{
	width:60px
}
</style>
</HEAD>

<BODY BGCOLOR="white">
<div style="text-align:center;valign:middle;font-size:26px"><p><b>葡萄酒中心月度绩效考核(${year}年${month}月)</b></p></div>
<br><br>
<div style="text-align:center;valign:middle;"><input type="button" value="上月" onclick="gotoPrevMonth()">&nbsp;&nbsp;&nbsp;<input type="button" value="本月" onclick="gotoCurrMonth()">&nbsp;&nbsp;&nbsp;<input type="button" value="下月" onclick="gotoNextMonth()">&nbsp;&nbsp;&nbsp;<select id='syear'>
#foreach($y in [2011..2012])
<option value='$y'
#if($year == $y)
selected
#end
>$y</option>
#end
</select>年<select id='smonth'>
#foreach($i in[1..12])
<option value='$i'
#if($month == $i)
selected
#end
>$i</option>
#end
</select>月<input type="button" value="跳转" onclick="gotoMonth()">&nbsp;&nbsp;&nbsp;<a href='Index.showInputGrid4Year'>查看年度</a></div>
<div style="text-align:center;valign:middle;">
<table border=1>
<tr>
<td>人员类别</td><td>姓名</td><td>本月销售<br/>数量</td><td>1-本月销售<br/>数量累计</td><td>本月销售<br/>金额</td><td>1-本月销售<br/>金额累计</td>
    <td>考核完成情况<br/>(完成或未完成)</td><td>计提金额</td><td>考核奖励</td><td>本月奖励</td><td>累计未奖励</td><td>补发奖励</td>
</tr>
#foreach (${gau} in ${gaus})
#set($userid=${gau.id})
#if(${gau.groupType}==1)
<tr>
<td>
后勤管理人员
</td><td>${gau.userName}</td><td><input class="input"></td><td><input class="input"></td><td><input class="input"></td><td><input class="input"></td><td><input class="input"></td>
    <td><input class="input"></td><td><input class="input"></td><td><input class="input"></td><td><input class="input"></td><td><input class="input"></td>
</tr>
#else
#if(${gau.groupType}==2)
<tr>
<td>
业务员
</td><td>${gau.userName}</td><td><input class="input"></td><td><input class="input"></td><td><input class="input"></td><td><input class="input"></td><td><input class="input"></td>
    <td><input class="input"></td><td><input class="input"></td><td><input class="input"></td><td><input class="input"></td><td><input class="input"></td>
</tr>
#else
<tr>
<td rowspan="2">
门店人员
</td><td rowspan="2">${gau.userName}</td><td>销售</td><td><input class="input"></td><td>提成</td><td><input class="input"></td><td colspan="6" rowspan="2">&nbsp;</td>
</tr>
<tr>
<td>提货券</td><td><input class="input"></td><td>提成</td><td><input class="input"></td>
</tr>
#end
#end
#end
</table>
</div>
<div style="text-align:center;valign:middle;">
导出  ---->   <a href='Index.exportExcel'>导出本月</a>&nbsp;&nbsp;&nbsp;<a href='Index.exportExcel4Currency'>导出1-本月</a></div>
</div>
</BODY>

</HTML>